html,body {
    background: #E6E6E6;
}
.password-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 330px;
    height: 290px;
    margin-left: -165px;
    margin-top: -145px;
    background: #E6E6E6;
}
.password-box .title {
    position: absolute;
    top: -108px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 38px;
    text-align: center;
    color: #555452;
}
.password-box .content .text {
    display: block;
    width: 100%;
    color: #000000;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    background: #FFFFFF;
    margin-bottom: 20px;
}
.password-box .content .sms {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
}
.password-box .content .sms>input {
    float: left;
    display: block;
    height: 42px;
    line-height: 42px;
    width: 204px;
    box-sizing: border-box;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    background: #FFFFFF;
}
.password-box .content .sms>a{
    text-decoration: none;
    float: left;
    color: #FFFFFF;
    background: #187FAD;
    width: 116px;
    height: 42px;
    line-height: 42px;
    margin-left: 10px;
    text-align: center;
}
.password-box .content .confirm-btn  {
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background: #307FAC;
}
.password-box .content .error-msg {
    position: absolute;
    left: 342px;
    margin-top: -56px;
    background: #E9CFCF;
    color: #B40700;
    height: 28px;
    line-height: 28px;
    width: 200px;
    border: 1px solid #C56E71;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
}