/*header --- BEGIN*/
.header {
    height: 48px;
    background: #DDDDDD;
}
.header>span {
    float: left;
    height: 48px;
    line-height: 48px;
    margin-left: 48px;
    color: #555452;
}
.header:before {
    position: absolute;
    background: url("../../images/icons_service/top-record.png") no-repeat;
    width: 17px;
    height: 17px;
    top: 16px;
    left: 16px;
    content: '';
}
/*header --- END*/
/*body --- BEGIN*/
.main {
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 55px;
    left: 0;
    background: #FFFFFF;
}
.main .body {
    position: absolute;
    top: 0;
    right: 372px;
    bottom: 0;
    left: 0;
}
.main .body .search {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    border: 15px solid #DADADA;
    padding-left: 50px;
    padding-right: 20px;
}
.main .body .search-bar {
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;

}
.main .body .search-bar:before {
    position: absolute;
    background: url("../../images/icons_service/main-search.png") no-repeat;
    width: 28px;
    height: 26px;
    margin-top: 24px;
    margin-left: 28px;
    content: '';
}
.main .body .nav {
    height: 54px;
    border-bottom: 2px solid #626262;
    margin-left: 16px;
    margin-right: 16px;
}
.main .body .nav ul {
    height: 100%;
    margin-left: 30px;
}
.main .body .nav ul li {
    float: left;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    width: 25%;
}
.main .body .nav ul li.active:after {
    background: #187FAD;
    width: 100%;
    height: 5px;
    display: block;
    position: relative;
    bottom: 3px;
    content: '';
}
.main .body .content ul {
    position: absolute;
    left: 16px;
    right: 16px;
}
.main .body .content ul li {
    height: 64px;
    border-bottom: 2px solid #CCCCCC;
}
.main .body .content ul li.active {
    background: #F6F6F6;
}
.main .body .content ul li span.icon {
    display: inline-block;
    float: left;
    height: 64px;
    width: 64px;
    color: #FFFFFF;
}
.main .body .settle .content ul li span.icon:before,
.main .body .settle .content ul li span.icon.up:before {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background: #307FAC;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    content: '收';
}
.main .body .settle .content ul li span.icon.down:before {
    background: #B44F4E;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    text-align: center;
    content: '退';
}
.main .body .content ul li .time,.main .body .content ul li .middle,.main .body .content ul li .right {
    width: 25%;
    height: 64px;
}
.main .body .content ul li .time {
    float: left;
    color: #555452;
}
.main .body .content ul li .time>h3 {
    margin-top: 10px;
    font-weight: normal;
}
.main .body .content ul li .time>span {
    font-size: 12px;
}
.main .body .content ul li .middle {
    float: left;
}
.main .body .content ul li .middle>h3 {
    margin-top: 10px;
    font-weight: normal;
    height: 25px;
}
.main .body .content ul li .middle>span {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.main .body .content ul li span.right {
    float: right;
    line-height: 64px;
    text-align: right;
    font-size: 24px;
    margin-right: 10px;
    color: #555452;
}
.main .body .content ul li span.right.cancel {
    color: #B44F4E;
}
/*body --- END*/
/*sidebar-right --- BEGIN*/
.main .sidebar-right {
    float: right;
    width: 372px;
    height: 100%;
    background: #EEEEEE;
}
.main .sidebar-right ul {
    width: 100%;
    height: 100%;
}
.main .sidebar-right ul li {
    height: 66px;
}
.main .sidebar-right ul li.first:before,
.main .sidebar-right ul li.second:before,
.main .sidebar-right ul li.third:before{
    display: inline-block;
    width: 39px;
    height: 39px;
    border-radius: 20px;
    margin-left: 13.5px;
    margin-top: 13.5px;
    content: '';
}
.main .sidebar-right ul li.first:before {
    background: url("../../images/icons_service/sidebar-right-signin.png") no-repeat;
}
.main .sidebar-right ul li.second:before {
    background: url("../../images/icons_service/sidebar-right-money.png") no-repeat;
}
.main .sidebar-right ul li.third:before {
    background: url("../../images/icons_service/sidebar-right-search.png") no-repeat;
}
.main .sidebar-right ul li a {
    position: absolute;
    text-align: left;
    margin-left: 13px;
    height: 66px;
    text-decoration: none;
    color: #555453;
}
.main .sidebar-right ul li a h3 {
    margin-top: 13px;
    font-size: 16px;
    font-weight: normal;
}
.main .sidebar-right ul li a span {
    color: #969696;
    font-size: 12px;
}
.main .sidebar-right ul li.active {
    background: #CCCCCC;
}
/*sidebar-right --- END*/
/*refund-detail --- BEGIN*/
.main .refund-detail {
    float: right;
    width: 372px;
    height: 100%;
    background: #EEEEEE;
}
.main .refund-detail h3 {
    background: #187FAD;
    color: #FFFFFF;
    font-weight: normal;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    margin: 14px 14px 0 14px;
}
.main .refund-detail h3 i {
    position: absolute;
    background: url("../../images/icons_service/sidebar-right-exit-white.png") no-repeat;
    width: 13px;
    height: 13px;
    margin-top: 10px;
    right: 24px;
    content: '';
}
.main .refund-detail ul {
    background: #FFFFFF;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 14px;
}
.main .refund-detail ul li {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.main .refund-detail ul li.name {
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    color: #444444;
    border-bottom: 2px solid #000000;
}
.main .refund-detail ul li.info {
    height: 105px;
    border-bottom: 2px solid #000000;
}
.main .refund-detail ul li.info>a {
    display: block;
    height: 35px;
    line-height: 35px;
    color: #555452;
    text-decoration: none;
}
.main .refund-detail ul li.reason {
    height: 44px;
    line-height: 44px;
    color: #555452;
    border-bottom: 2px solid #000000;
}
.main .refund-detail ul li.status {
    height: 58px;
    line-height: 58px;
    border-bottom: 2px solid #000000;
}
.main .refund-detail ul li.status>label {
    float: left;
    color: #444444;
    width: 100px;
    font-size: 20px;
}
.main .refund-detail ul li.status>span {
    float: right;
    color: #BB5050;
    font-size: 20px;
}
.main .refund-detail ul li.detail {
    padding-top: 12px;
    padding-bottom: 12px;
}
.main .refund-detail ul li.detail>a {
    display: block;
    text-decoration: none;
    color: #555452;
    height: 27px;
    line-height: 27px;
}
.main .refund-detail ul li.detail>a.color-bb5050 {
    color: #BB5050;
}
.main .refund-detail ul li.detail>a>label {
    float: left;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width: 200px;
}
.main .refund-detail ul li.detail>a>span {
    float: right;
}
/*refund-detail --- END*/
/*income-refund --- BEGIN*/
.main .income-refund {
    float: right;
    width: 372px;
    height: 100%;
    background: #EEEEEE;
}
.main .income-refund h3 {
    background: #187FAD;
    color: #FFFFFF;
    font-weight: normal;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    margin: 14px 14px 0 14px;
}
.main .income-refund h3 i {
    position: absolute;
    background: url("../../images/icons_service/sidebar-right-exit-white.png") no-repeat;
    width: 13px;
    height: 13px;
    margin-top: 10px;
    right: 24px;
    content: '';
}
.main .income-refund ul {
    background: #FFFFFF;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 14px;
}
.main .income-refund ul li {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.main .income-refund ul li.name {
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    color: #444444;
    padding-bottom: 8px;
    border-bottom: 2px solid #000000;
}
.main .income-refund ul li.info {
    height: 175px;
}
.main .income-refund ul li.info>a {
    display: block;
    height: 35px;
    line-height: 35px;
    color: #555452;
    text-decoration: none;
}
.main .income-refund ul li.status {
    height: 34px;
    line-height: 34px;
    padding-bottom: 8px;
    padding-top: 16px;
    border-bottom: 2px solid #000000;
}
.main .income-refund ul li.status>label {
    float: left;
    color: #444444;
    width: 100px;
    font-size: 20px;
}
.main .income-refund ul li.detail {
    padding-bottom: 12px;
}
.main .income-refund ul li.detail>a {
    display: block;
    text-decoration: none;
    color: #555452;
    height: 27px;
    line-height: 27px;
}
.main .income-refund ul li.detail>a.course-info {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px dashed #7E7E7E;
}
.main .income-refund ul li.detail>a.color-bb5050 {
    color: #BB5050;
}
.main .income-refund ul li.detail>a>label {
    float: left;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width: 200px;
}
.main .income-refund ul li.detail>a>span {
    float: right;
}
.main .income-refund .refund-btn {
    display: block;
    text-decoration: none;
    background: #969696;
    color: #FFFFFF;
    width: 344px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    margin-left: 14px;
    position: absolute;
    bottom: 14px;
}
.main .income-refund .refund-btn.active {
    background: #187FAD;
}
/*income-refund --- END*/
/*mask-refund-cancel --- BEGIN */
.mask-refund-cancel {
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.mask-refund-cancel .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 376px;
    height: 406px;
    margin-left: -188px;
    margin-top: -231px;
    background: #F6F6F6;
}
.mask-refund-cancel .dialog h3 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #444444;
    color: #FFFFFF;
}
.mask-refund-cancel .dialog h3 span {
    margin-left: 15px;
    font-weight: normal;
}
.mask-refund-cancel .dialog h3 i {
    background: url("../../images/icons_service/exit-white.png") no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-top: 17px;
}
.mask-refund-cancel .dialog .detail {
    width: 100%;
    height: 252px;
}
.mask-refund-cancel .dialog .detail .info {
    color: #959696;
    background: #DADADA;
    height: 120px;
    width: 342px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}
.mask-refund-cancel .dialog .detail .info p {
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
}
.mask-refund-cancel .dialog .detail .info p>a {
    text-decoration: none;
    display: inline-block;
    color: #555452;
}
.mask-refund-cancel .dialog .detail .selected {
    width: 320px;
    height: 28px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border-bottom: 2px solid #444444;
}
.mask-refund-cancel .dialog .detail .selected-list {
    width: 330px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}
.mask-refund-cancel .dialog .detail .selected-list li {
    height: 26px;
    line-height: 26px;
}
.mask-refund-cancel .dialog .detail .selected-list li>a {
    padding-left: 20px;
    text-decoration: none;
    color: #959696;
}
.mask-refund-cancel .dialog .detail .selected-list li.active>a {
    color: #444444;
}
.mask-refund-cancel .dialog .detail .selected-list li:before {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border-radius: 8px;
    background: #959596;
    content: '';
}
.mask-refund-cancel .dialog .detail .selected-list li.active:before {
    background: #444444;
}
.mask-refund-cancel .dialog .detail .info p>a.discount {
    color: #BB5050;
    margin-left: 10px;
}
.mask-refund-cancel .dialog .detail .btn-cancel-reason {
    width: 320px;
    height: 32px;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
.mask-refund-cancel .dialog .detail .btn-cancel-reason:after {
    float: right;
    width: 8px;
    height: 11px;
    margin-top: 10px;
    margin-right: 6px;
    background: url("../../images/icons_service/mask-forward.png") no-repeat;
    content: '';
}
.mask-refund-cancel .dialog .bar {
    position: absolute;
    background: #F6F6F6;
    width: 100%;
    height: 68px;
    bottom: 0;
}
.mask-refund-cancel .dialog .bar .btn-cancel {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 48px;
    line-height: 48px;
    width: 332px;
    font-size: 20px;
    margin: 5px auto 15px auto;;
    color: #FFFFFF;
    background: #307FAC;
}
.mask-refund-cancel .dialog .detail-reason {
    display: block;
    padding: 10px;
    color: #959696;
    background: #DADADA;
    height: 120px;
    width: 324px;
    resize: none;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border: 0;
}
.mask-refund-cancel .dialog .type-reason {
    display: block;
    text-decoration: none;
    width: 344px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.mask-refund-cancel .dialog .type-reason>span {
    float: left;
    width: 164px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #DDDDDD;
    color: #555452;
}
.mask-refund-cancel .dialog .type-reason>span.active {
    color: #FFFFFF;
    background: #187FAD;
}
.ml16 {
    margin-left: 16px;
}
/*mask-refund-cancel --- END */