/*nav --- BEGIN*/
.body .nav {
    float: left;
    background: #CDCDCD;
    height: 100%;
    width: 234px;
    color: #555452;
}
.body .nav>li>h3 {
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    padding-left: 16px;
    font-size: 20px;
    border-bottom: 2px solid #9D9D9D;
}
.body .nav>li>ul>li {
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    border-bottom: 1px solid #9D9D9D;
}
.body .nav>li>ul>li.active {
    background: #B6B6B6;
}
.body .nav>li>ul>li.admin-org:before,
.body .nav>li>ul>li.admin-discount:before,
.body .nav>li>ul>li.admin-employee:before,
.body .nav>li>ul>li.admin-server:before,
.body .nav>li>ul>li.admin-pay:before,
.body .nav>li>ul>li.admin-student-service:before,
.body .nav>li>ul>li.admin-about:before{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: -40px;
    content: '';
}
.body .nav>li>ul>li.admin-org:before {
    background: url("../../images/icons_admin/admin-org.png") no-repeat;
}
.body .nav>li>ul>li.admin-discount:before {
    background: url("../../images/icons_admin/admin-discount.png") no-repeat;
}
.body .nav>li>ul>li.admin-employee:before {
    background: url("../../images/icons_admin/admin-employee.png") no-repeat;
}
.body .nav>li>ul>li.admin-server:before {
    background: url("../../images/icons_admin/admin-server.png") no-repeat;
}
.body .nav>li>ul>li.admin-pay:before {
    background: url("../../images/icons_admin/admin-pay.png") no-repeat;
}
.body .nav>li>ul>li.admin-student-service:before {
    background: url("../../images/icons_admin/admin-student-service.png") no-repeat;
}
.body .nav>li>ul>li.admin-about:before {
    background: url("../../images/icons_admin/admin-about.png") no-repeat;
}
/*nav --- END*/
/*content --- BEGIN*/
.body .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 234px;
}
.body .content h3.title {
    height:54px;
    line-height: 54px;
    padding-left: 20px;
    background: #B6B6B6;
    color: #555452;
    font-size: 20px;
}
.body .content h3.title i {
    position: absolute;
    background: url(../../images/icons_admin/admin-add.png) no-repeat;
    height: 15px;
    right: 50px;
    width: 15px;
    margin-top: 20px;
}
.body .content .discount {
    position: absolute;
    left: 20px;
    right: 45px;
    top: 54px;
    bottom: 0;
}
.body .content .discount p.title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #2C2D2B;
    color: #555452;
    font-size: 20px;
}
.body .content .discount p.title i {
    position: absolute;
    background: url(../../images/icons_admin/admin-add.png) no-repeat;
    height: 15px;
    right: 0;
    width: 15px;
    margin-top: 18px;
}
.body .content .discount p.desc {
    font-size: 12px;
    color: #959696;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.body .content .discount .pre-discount li{
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #E0E0E0;
}
.body .content .discount .pre-discount li:before {
    position: absolute;
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin-top: 8px;
    background: #187FAD;
    content: '%';
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}
.body .content .discount .pre-discount li>span {
    float: left;
    color: #555452;
    margin-left: 70px;
}
.body .content .discount .pre-discount li i {
    position: absolute;
    background: url("../../images/icons_admin/sidebar-right-exit.png") no-repeat;
    width: 13px;
    height: 13px;
    right: 0;
    margin-top: 24px;
}
.body .content .discount .define-discount {
    background: #E7E7E7;
    padding-top: 5px;
    padding-bottom: 5px;
}
.body .content .discount .define-discount h3 {
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid #797979;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: normal;
    font-size: 16px;
    color: #555452;
}
.body .content .discount .define-discount h3 i {
    position: absolute;
    background: url("../../images/icons_admin/unchecked.png") no-repeat;
    width: 16px;
    height: 16px;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
}
.body .content .discount .define-discount h3 i.checked {
    background: url("../../images/icons_admin/checked.png") no-repeat;
}
.body .content .discount .define-discount li {
    height: 30px;
    line-height: 30px;
    color: #555452;
    margin-left: 12px;
    margin-right: 12px;
}
/*content --- END*/
/*mask-define-discount --- BEGIN */
.mask-define-discount {
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.mask-define-discount .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 376px;
    height: 340px;
    margin-left: -188px;
    margin-top: -170px;
    background: #F6F6F6;
}
.mask-define-discount .dialog h3 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #444444;
    color: #FFFFFF;
}
.mask-define-discount .dialog h3 span {
    margin-left: 15px;
    font-weight: normal;
}
.mask-define-discount .dialog h3 i {
    background: url("../../images/icons_service/exit-white.png") no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-top: 17px;
}
.mask-define-discount .dialog .detail {
    text-align: center;
}
.mask-define-discount .dialog .money {
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid #BABABB;
    color: #555452;
}
.mask-define-discount .dialog .money>label {
    float: left;
    width: 130px;
    height: 60px;
    line-height: 60px;
}
.mask-define-discount .dialog .money>input {
    float: left;
    height: 40px;
    width: 216px;
    line-height: 40px;
    border: 0;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 20px;
}
.mask-define-discount .dialog .percent {
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid #BABABB;
    color: #555452;
}
.mask-define-discount .dialog .percent>label {
    float: left;
    width: 120px;
    padding-top: 20px;
}
.mask-define-discount .dialog .percent>input {
    float: left;
    height: 40px;
    width: 216px;
    line-height: 40px;
    border: 0;
    margin-top: 20px;
    margin-left: 10px;
    box-sizing: border-box;
    padding-left: 20px;
}
.mask-define-discount .dialog .desc {
    line-height: 20px;
    color: #C7C7C7;
    font-size: 12px;
    margin: 10px 15px 0 15px;
}
.mask-define-discount .dialog .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.mask-define-discount .dialog .bar .btn-cancel {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #444444;
    background: #DDDDDD;
}
.mask-define-discount .dialog .bar .btn-confirm {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #FFFFFF;
    background: #307EAC;
}
/*mask-define-discount --- END */
/*mask-set-discount --- BEGIN */
.mask-set-discount {
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.mask-set-discount .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 376px;
    height: 530px;
    margin-left: -188px;
    margin-top: -265px;
    background: #F6F6F6;
}
.mask-set-discount .dialog h3 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #444444;
    color: #FFFFFF;
}
.mask-set-discount .dialog h3 span {
    margin-left: 15px;
    font-weight: normal;
}
.mask-set-discount .dialog h3 i {
    background: url("../../images/icons_service/exit-white.png") no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-top: 17px;
}
.mask-set-discount .dialog .detail {
    padding: 0 15px;
    height: 426px;
    overflow-y: auto;
}
.mask-set-discount .dialog .detail p.title {
    height: 32px;
    line-height: 32px;
    color: #187FAD;
    border-bottom: 1px solid #A1A09F;
}
.mask-set-discount .dialog .detail .percent {
    height: 72px;
    border-bottom: 1px solid #A1A09F;
}
.mask-set-discount .dialog .detail .percent .num {
    height: 40px;
    line-height: 40px;
}
.mask-set-discount .dialog .detail .percent .num>label {
    float: left;
    width: 80px;
    height: 40px;
}
.mask-set-discount .dialog .detail .percent .num>input {
    float: left;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0;
    margin-top: 5px;
}
.mask-set-discount .dialog .detail .percent .num>span {
    float: left;
    width: 30px;
    text-align: center;
}
.mask-set-discount .dialog .detail .percent .desc {
    color: #959696;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
}
.mask-set-discount .dialog .detail .product .desc{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #959696;
}
.mask-set-discount .dialog .detail .involve {
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    padding-left: 8px;
    background: #E7E7E6;
}
.mask-set-discount .dialog .detail .involve i {
    float: right;
    background: url("../../images/icons_admin/edit-blue.png");
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-right: 12px;
}
.mask-set-discount .dialog .detail .list {
    line-height: 32px;
    padding-left: 8px;
    padding-right: 12px;
    color: #555452;
    border-bottom: 1px solid #A1A09F;
}
.mask-set-discount .dialog .detail .list li {
    height: 32px;
    font-weight: bold;
}
.mask-set-discount .dialog .detail .list li>label {
    float: left;
}
.mask-set-discount .dialog .detail .list li>span {
    float: right;
}
.mask-set-discount .dialog .detail .discount-name {
    display: inline-block;
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    border: 0;
    margin-top: 5px;
}
.mask-set-discount .dialog .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.mask-set-discount .dialog .bar .btn-cancel {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #444444;
    background: #DDDDDD;
}
.mask-set-discount .dialog .bar .btn-confirm {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #FFFFFF;
    background: #307EAC;
}
/*mask-set-discount --- END */
/*mask-category-discount --- BEGIN */
.mask-category-discount {
    z-index: 7;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.mask-category-discount .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 376px;
    height: 484px;
    margin-left: -188px;
    margin-top: -242px;
    background: #F6F6F6;
}
.mask-category-discount .dialog h3 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #444444;
    color: #FFFFFF;
}
.mask-category-discount .dialog h3 span {
    margin-left: 15px;
    font-weight: normal;
}
.mask-category-discount .dialog h3 i {
    background: url("../../images/icons_service/exit-white.png") no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-top: 17px;
}
.mask-category-discount .dialog .detail {
    height: 380px;
    overflow-y: auto;
    padding: 0 15px;
}
.mask-category-discount .dialog .detail .selected {
    display: block;
    line-height: 32px;
    color: #555452;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #BABABA;
}
.mask-category-discount .dialog .detail .selected:after{
    display: block;
    clear: both;
    content: '';
}
.mask-category-discount .dialog .detail .selected>label {
    float: left;
    width: 120px;
}
.mask-category-discount .dialog .detail .selected>span {
    float: left;
    width: 200px;
}
.mask-category-discount .dialog .detail .category-list li {
    margin: 18px 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    background: #B2B2B2;
}
.mask-category-discount .dialog .detail .category-list li.active {
    background: #D0ECFB;
    color: #555452;
}
.mask-category-discount .dialog .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.mask-category-discount .dialog .bar .btn-cancel {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #444444;
    background: #DDDDDD;
}
.mask-category-discount .dialog .bar .btn-confirm {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #FFFFFF;
    background: #307EAC;
}
/*mask-category-discount --- END */
/*mask-course-discount --- BEGIN */
.mask-course-discount {
    z-index: 7;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.mask-course-discount .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 376px;
    height: 484px;
    margin-left: -188px;
    margin-top: -242px;
    background: #F6F6F6;
}
.mask-course-discount .dialog h3 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #444444;
    color: #FFFFFF;
}
.mask-course-discount .dialog h3 span {
    margin-left: 15px;
    font-weight: normal;
}
.mask-course-discount .dialog h3 i {
    background: url("../../images/icons_service/exit-white.png") no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-top: 17px;
}
.mask-course-discount .dialog .detail {
    height: 380px;
    overflow-y: auto;
    padding: 0 15px;
}
.mask-course-discount .dialog .detail .selected {
    display: block;
    line-height: 32px;
    color: #555452;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #BABABA;
}
.mask-course-discount .dialog .detail .selected:after{
    display: block;
    clear: both;
    content: '';
}
.mask-course-discount .dialog .detail .selected>label {
    float: left;
    width: 120px;
}
.mask-course-discount .dialog .detail .selected>span {
    float: left;
    width: 200px;
}
.mask-course-discount .dialog .detail .course {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    background: #DEDEDE;
    overflow-y: auto;
    border:0;
    color: #555452;
}
.mask-course-discount .dialog .detail .course tr {
    height: 36px;
    line-height: 36px;
    border-bottom: 2px solid #BABABA;
    margin: 0;
    padding: 0;
}
.mask-course-discount .dialog .detail .course th {
    font-weight: normal;
    text-align: center;
    width: 100px;
}
.mask-course-discount .dialog .detail .course td {
    font-weight: bold;
    text-align: center;
    width: 100px;
}
.mask-course-discount .dialog .detail .course td i {
    float: right;
    background: url("../../images/icons_admin/unchecked.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.mask-course-discount .dialog .detail .course td i.checked {
    background: url("../../images/icons_admin/checked.png") no-repeat;
}
.mask-course-discount .dialog .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.mask-course-discount .dialog .bar .btn-cancel {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #444444;
    background: #DDDDDD;
}
.mask-course-discount .dialog .bar .btn-confirm {
    float: left;
    text-decoration: none;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 50%;
    color: #FFFFFF;
    background: #307EAC;
}
/*mask-course-discount --- END */