html,body {
    font-size: 16px;
    font-family: "微软雅黑" ;
    width: 100%;
    height: 100%;
}
*{
    padding:0;
    margin:0;
}
.l {
    float: left;
}
.r {
    float: right;
}
.dn {
    display: none;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
/*header --- BEGIN*/
.header {
    width: 100%;
    height: 726px;
    background: #23262A;
}
.header .top {
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #44464A;
}
.header .top .title {
    float: left;
    margin-left: 166px;
    height: 51px;
    line-height: 51px;
    color: #F5F5F5;
    font-size: 20px;
}
.header .top ul.nav {
    list-style: none;
    position: absolute;
    width: 324px;
    margin-right: 166px;
    right: 0;
}
.header .top ul.nav li {
    text-align: right;
    float: right;
    height: 51px;
    line-height: 51px;
    width: 108px;
    color: #F5F5F5;
    font-size: 16px;
}
.header .top ul.nav li>a {
    text-decoration: none;
    color: #F5F5F5;
}
.header .intro {
    width: 100%;
    height: 538px;
}
.header .intro .desc {
    position: absolute;
    left: 165px;
    z-index: 1;
}
.header .intro .desc .first {
    display: block;
    margin-top: 190px;
    width: 100%;
    font-size: 24px;
    color: #F5F5F5;
}
.header .intro .desc .second {
    display: block;
    margin-top: 22px;
    width: 100%;
    font-size: 40px;
    color: #F5F5F5;
}
.header .intro .banner {
    position: absolute;
    right: 65px;
    background: url("../../images/web/banner.png") no-repeat;
    width: 690px;
    height: 525px;
}
.header .bottom {
    width: 100%;
    height: 136px;
    background: #D7D7D8;
}
.header .bottom:before {
    position: absolute;
    background: url("../../images/web/wave.png") no-repeat;
    width: 536px;
    height: 136px;
    left: 50%;
    margin-left: -268px;
    content: '';
}
.header .bottom .desc {
    height: 100%;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #23262A;
}
.header .bottom .desc:before {
    position: absolute;
    background: url("../../images/web/ecnu.png") no-repeat;
    width: 100px;
    height: 100px;
    margin-top: 18px;
    content: '';
}
.header .bottom .desc span {
    display: inline-block;
    height: 136px;
    line-height: 136px;
    margin-left: 120px;
    font-size: 20px;
    color: #23262A;
}
/*header --- END*/
/*main --- BEGIN*/
.main {
    width: 100%;
    background: #FCFCFC;
}
.main p.title {
    padding-top: 88px;
    text-align: center;
    font-size: 24px;
    color: #3B424B;
}
.main ul.story {
    list-style: none;
    width: 100%;
}
.main ul.story li {
    height: 485px;
}
.main ul.story li.first .left {
    position: absolute;
    width: 50%;
}
.main ul.story li.first .left:before {
    background: url("../../images/web/backpic1.png") no-repeat;
    position: absolute;
    right: 0;
    width: 332px;
    height: 285px;
    margin-top: 96px;
    margin-right: 80px;
    content: '';
}
.main ul.story li.first .right {
    position: absolute;
    left: 50%;
    width: 50%;
    box-sizing: border-box;
    padding-left: 80px;
}
.main ul.story li.first .right span.title {
    display: block;
    margin-top: 162px;
    font-size: 24px;
    color: #3B424B;
}
.main ul.story li.first .right span.desc {
    display: block;
    margin-top: 16px;
    width: 400px;
    line-height: 25px;
    font-size: 16px;
    color: #3B424B;
}
.main ul.story li.second .left {
    width: 50%;
}
.main ul.story li.second .left .content {
    float: right;
    margin-right: 80px;
}
.main ul.story li.second .left span.title {
    display: block;
    margin-top: 162px;
    font-size: 24px;
    color: #3B424B;
}
.main ul.story li.second .left span.desc {
    display: block;
    margin-top: 16px;
    line-height: 25px;
    font-size: 16px;
    color: #3B424B;
}
.main ul.story li.second .right {
    position: absolute;
    left: 50%;
    width: 50%;
}
.main ul.story li.second .right:before {
    position: absolute;
    background: url("../../images/web/backpic2.png") no-repeat;
    width: 332px;
    height: 285px;
    margin-left: 80px;
    margin-top: 96px;
    content: '';
}
.main ul.story li.third .left {
    position: absolute;
    width: 50%;
}
.main ul.story li.third .left:before {
    background: url("../../images/web/backpic3.png") no-repeat;
    position: absolute;
    right: 0;
    width: 370px;
    height: 290px;
    margin-top: 96px;
    margin-right: 80px;
    content: '';
}
.main ul.story li.third .right {
    position: absolute;
    left: 50%;
    width: 50%;
    box-sizing: border-box;
    padding-left: 80px;
}
.main ul.story li.third .right span.title {
    display: block;
    margin-top: 200px;
    font-size: 24px;
    color: #3B424B;
}
.main ul.story li.third .right span.desc {
    display: block;
    margin-top: 16px;
    line-height: 25px;
    font-size: 16px;
    color: #3B424B;
}
.main .case {
    margin-top: 72px;
    text-align: center;
    color: #3B424B;
    font-size: 24px;
}
.main ul.case-detail {
    list-style: none;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 70px;
}
.main ul.case-detail li {
    height: 150px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.main ul.case-detail li>span {
    float: left;
    margin-right: 30px;
    width: 150px;
    height: 150px;
}
.main ul.case-detail li .first:before {
    background: url("../../images/web/gulugulu-gray.png") no-repeat;
    position: absolute;
    margin-top: 17px;
    margin-left: 15px;
    width: 121px;
    height: 116px;
    content: '';
}
.main ul.case-detail li .second:before {
    background: url("../../images/web/bozan-gray.png") no-repeat;
    position: absolute;
    margin-top: 26px;
    margin-left: 24px;
    width: 103px;
    height: 97px;
    content: '';
}
.main ul.case-detail li .third:before {
    background: url("../../images/web/maide-gray.png") no-repeat;
    position: absolute;
    margin-top: 25px;
    margin-left: -6px;
    width: 162px;
    height: 100px;
    content: '';
}
.main ul.case-detail li .fourth:before {
    background: url("../../images/web/yingjian-gray.png") no-repeat;
    position: absolute;
    margin-top: 29px;
    margin-left: 27px;
    width: 95px;
    height: 92px;
    content: '';
}
.main ul.case-detail li .fifth:before {
    background: url("../../images/web/guangming-gray.png") no-repeat;
    position: absolute;
    margin-left: -16px;
    margin-top: 44px;
    width: 182px;
    height: 61px;
    content: '';
}
.main ul.case-detail li .sixth {
    margin-left: 200px;
}
.main ul.case-detail li .sixth:before {
    background: url("../../images/web/meiguosishu-gray.png") no-repeat;
    position: absolute;
    margin-top: 37px;
    margin-left: -23px;
    width: 196px;
    height: 76px;
    content: '';
}
.main ul.case-detail li .seventh:before {
    background: url("../../images/web/ecust-gray.png") no-repeat;
    position: absolute;
    margin-left: 18px;
    margin-top: 18px;
    width: 114px;
    height: 113px;
    content: '';
}
.main ul.case-detail li .eighth:before {
    background: url("../../images/web/ecnu-gray.png") no-repeat;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    width: 109px;
    height: 109px;
    content: '';
}
/*main --- END*/
/*footer --- BEGIN*/
.footer {
    width: 100%;
    height: 353px;
}
.footer .contact {
    width: 100%;
    height: 170px;
    background: #D7D7D8;
    color: #23262A;
}
.footer .contact .first {
    text-align: center;
    padding-top: 44px;
    font-size: 20px;
}
.footer .contact .address {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}
.footer .contact .address a {
    display: inline-block;
    text-decoration: none;
    color: #23262A;
}
.footer .contact .address>a {
    margin-top: 8px;
}
.footer .aboutus {
    width: 100%;
    height: 183px;
    background: #373D41;
}
.footer .aboutus .first {
    margin-left: 166px;
    margin-right: 166px;
    height: 85px;
    border-bottom: 1px solid #44464A;
}
.footer .aboutus .first .info {
    color: #898989;
    font-size: 20px;
    height: 85px;
    line-height: 85px;
    text-align: center;
}
.footer .copyright {
    text-align: center;
    height: 97px;
    line-height: 97px;
    text-align: center;
    color: #898989;
}
/*footer --- END*/